<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <div class="navLogo">GOTASK</div>
            <ul>
                <li><a href="#">Log in</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <aside>
                <h3 class="text-center">TAMBAH TUGAS</h3>
            </aside>
            <div class="wrap">

                <h1 class="text-center">DATA TUGAS</h1>

                <table border="1" cellspacing="0" >
                    <tr>
                        <th>No</th>
                        <th>Task</th>
                        <th>To</th>
                        <th>Action</th>
                    </tr>
                    <tr class="row-data">
                        <td class="text-center">1</td>
                        <td>plan and surfey</td>
                        <td>ignasya</td>
                        <td>
                            <span>Done</span>
                            <span>Edit</span>
                            <span>Del</span>
                        </td>
                    </tr>
                    <tr class="row-data">
                        <td class="text-center">2</td>
                        <td>ngoding santuy</td>
                        <td>gpjen</td>
                        <td>
                            <span>Done</span>
                            <span>Edit</span>
                            <span>Del</span>
                        </td>
                    </tr>
                    <tr class="row-data">
                        <td class="text-center">3</td>
                        <td>UI IX</td>
                        <td>syukran</td>
                        <td>
                            <span>Done</span>
                            <span>Edit</span>
                            <span>Del</span>
                        </td>
                    </tr>
                    <tr class="row-data">
                        <td class="text-center">4</td>
                        <td>mobile apps</td>
                        <td>wahyu arfika</td>
                        <td>
                            <span>Done</span>
                            <span>Edit</span>
                            <span>Del</span>
                        </td>
                    </tr>
                    <tr class="row-data">
                        <td class="text-center">5</td>
                        <td>mobile apps</td>
                        <td>ramadhan</td>
                        <td>
                            <span>Done</span>
                            <span>Edit</span>
                            <span>Del</span>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </main>
    <footer>
        gpjen - digitalent 2022
    </footer>
</body>
</html>