* {
    box-sizing: border-box;
    padding:  0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    color: rgb(84, 84, 84);
}

header {
    position: absolute;
    top: 0;
    color: white;
    padding: 0 100px;
    height: 50px;
    width: 100%;
    background-color: rgb(93, 93, 93);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(138, 138, 138);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: ease 0.3s;
}

nav a:hover {
    opacity: 1;
}

nav li {
    list-style: none;
}

footer {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: rgba(93, 93, 93, 0.352);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
}

th, td {
    padding: 3px 10px;
}

.row-data {
    transition: ease 0.3s;
}

.row-data:hover {
    background-color: rgba(93, 93, 93, 0.208);
    cursor: default;
}

.text-center {
    text-align: center;
}

article {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 35px);
    padding-top: 50px;
    overflow: hidden;
}

aside {
    width: 35%;
    height: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.281);
}
.wrap {
    width: 100%;
    padding: 20px 5%;
}